body {
  width: 1280px;
  display : flex;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1350px){width : 80%;margin-left : 10%;margin-right : 10%;}
  @media screen and (max-width: 600px){width : 90%;margin-left : 5%;margin-right : 5%;}
}



.logo {
  display : flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  width : 100%;
  max-width: 1280px;
  height: 110px;
  top: 42px;
  overflow : auto;
  @media screen and (max-width: 1350px){width : 80%;}
  @media screen and (max-width: 600px){top: 30px;width : 90%;}

  img {
    margin-left: calc(50% - 150px);
    margin-right : calc(50% - 150px);
    width : 300px;

  }
}

#main {
  display: flex;
  width : 100%;
  flex-direction: column;
  margin-top: 200px;
  @media screen and (max-width: 1350px){margin-top: 160px;}
  @media screen and (max-width: 600px){margin-top: 140px;}

}



// BARRE DE RECHERCHE PRINCIPALE       BARRE DE RECHERCHE PRINCIPALE       BARRE DE RECHERCHE PRINCIPALE       BARRE DE RECHERCHE PRINCIPALE                                           

#search {
  display: flex;
  position: relative;
}

#search-bar {
  position: relative;
  text-indent: 20px;
  height: 69px;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  bottom: 0%;
  background: #e7e7e7;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  opacity: 0.75;
}

.search-icon {
  position: absolute;
  right: 35px;
  top: 23px;
  width: 32px;
  height: 32px;

}


#search[data-error1]::before {
  content: attr(data-error1);
  position: absolute;
  top: 80px;
  left: 25px;
  font-size: 1em;
  color: #867072;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 0.9;
  opacity: 0;
  transition: 0.3s;
  z-index: 10;
}

#search[data-error1-visible="true"]::before {
  opacity: 1;
}


#search[data-error2]::after {
  content: attr(data-error2);
  position: absolute;
  top: 80px;
  left: 25px;
  font-size: 1em;
  color: #867072;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 0.9;
  opacity: 0;
  transition: 0.3s;
  z-index: 10;
  @media screen and (max-width: 540px){top:70px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;}


}

#search[data-error2-visible="true"]::after {
  opacity: 1;
}


// TAGS   TAGS   TAGS   TAGS   TAGS   TAGS   TAGS   TAGS   TAGS   TAGS   TAGS   TAGS   TAGS   TAGS   TAGS   TAGS  

#tags {
  display: flex;
  flex-direction: row;
  row-gap: 20px;
  padding-top: 30px;
}

.close-icon {
  padding-left: 10px;
  padding-bottom: 5px;
}

.tag {
  cursor: pointer;
}

.ingredient-tag,
.appliance-tag,
.ustensil-tag {
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  position: relative;
  height: 28px;
  min-width: 120px;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  margin-right: 20px;
  border-radius: 5px;
  color: #FFFFFF;
  white-space: nowrap;
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;

}

.ingredient-tag {
  background: $color-primary;
}

.appliance-tag {
  background: $color-secondary;
}

.ustensil-tag {
  background: $color-tertiary;
}


// RECHERCHE PAR FILTRE   RECHERCHE PAR FILTRE   RECHERCHE PAR FILTRE   RECHERCHE PAR FILTRE   RECHERCHE PAR FILTRE   RECHERCHE PAR FILTRE   

#sort-menu-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 10px;
  margin-top: 20px;
  @media screen and (max-width: 1400px){flex-direction: column;}
}

.sort-menu {
  display: flex;
  flex-direction: column;
  height: 69px;
  justify-content: space-between;
  width: 210px;
  //min-width: 300px;
  left: 0px;
  top: 0px;
  padding-right: 30px;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
  overflow: hidden;
  z-index: 10;
  @media screen and (max-width: 1400px){width: 60%;}
  @media screen and (max-width: 700px){width: 300px;}
  }


.open-ingredients {
  padding-left: 75px;
  @media screen and (max-width: 1400px){ padding-left: 80%;}
  @media screen and (max-width: 1180px){ padding-left: 70%;}
  @media screen and (max-width: 800px){ padding-left: 65%;}
  @media screen and (max-width: 700px){ padding-left: 150px;}
}

.open-appliances {
  padding-left: 77px;
  @media screen and (max-width: 1400px){ padding-left: 82%;}
  @media screen and (max-width: 1180px){ padding-left: 72%;}
  @media screen and (max-width: 800px){ padding-left: 67%;}
  @media screen and (max-width: 700px){ padding-left: 164px;}
}
.open-ustensils {
  padding-left: 76px;
  @media screen and (max-width: 1400px){ padding-left: 81%;}
  @media screen and (max-width: 1180px){ padding-left: 71%;}
  @media screen and (max-width: 800px){ padding-left: 66%;}
  @media screen and (max-width: 700px){ padding-left: 157px;}
}


#ingredients-search {
  display: none;
  background: $color-primary;
  color: #FFFFFF;
  border: none;
  height: 53px;
  cursor: pointer;
}

#appliance-search {
  display: none;
  background: $color-secondary;
  color: #FFFFFF;
  border: none;
  height: 53px;
}

#ustensils-search {
  display: none;
  background: $color-tertiary;
  color: #FFFFFF;
  border: none;
  height: 53px;
}



#ingredients-label,
#appliance-label,
#ustensils-label {
  padding-left: 25px;
  padding-top: 26px;
  padding-bottom: 20px;
}



#ingredients-list,
#appliances-list,
#ustensils-list {
  margin-top: 0px;
  display: none;
  list-style-type: none; // sans puce
}


.ingredient-li,
.ustensil-li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


#sort-menu-ingredients {
  background: #3282F7;

  &:hover, &:active {
    height: auto;
    width: 700px;
    @media screen and (max-width: 1400px){width: 60%;}
    @media screen and (max-width: 1000px){width: 80%;}

    #ingredients-search {
      display: flex;
      padding-left: 30px;
    }

    #ingredients-label {
      display: none; // le mot ingrédient disparaît au survol
    }

    #ingredients-list {
      display: inline-block;
      column-count: 3;
    }

  }
}




#sort-menu-appliance {
  background: #68D9A4;

  &:hover, &:active {
    height: auto;
    width: 250px;
    @media screen and (max-width: 1400px){width: 60%;}
    @media screen and (max-width: 1000px){width: 80%;}

    #appliance-search {
      display: flex;
      padding-left: 30px;
    }

    #appliance-label {
      display: none
    }

    #appliances-list {
      display: inline-block;
      column-count: 1;
    }

  }

}




#sort-menu-ustensils {
  background: #ED6454;

  &:hover, &:active {
    height: auto;
    width: 600px;
    @media screen and (max-width: 1400px){width: 60%;}
    @media screen and (max-width: 1000px){width: 80%;}

    #ustensils-search {
      display: flex;
      padding-left: 30px;
    }

    #ustensils-label {
      display: none
    }

    #ustensils-list {
      display: inline-block;
      column-count: 3;
    }
  }

}



// GALLERIE DES VIGNETTES   GALLERIE DES VIGNETTES   GALLERIE DES VIGNETTES   GALLERIE DES VIGNETTES   GALLERIE DES VIGNETTES   GALLERIE DES VIGNETTES   

#gallery {
  display: grid;
  position: absolute;
  width: 92%;
  max-width: 1280px;
  top: 370px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 45px;
  margin-top: 80px;
  @media screen and (max-width: 1400px){margin-top: 230px;}
@media screen and (max-width: 1350px){width : 80%;top : 320px;grid-template-columns: 1fr 1fr;}
@media screen and (max-width: 950px){width : 80%;gap: 25px;grid-template-columns: 1fr;}
@media screen and (max-width: 600px){width : 90%;}


  article {
    display: flex;
    justify-self: center;
    display: flex;
    height: 364px;
    width: 380px;
    align-items: center;
    flex-direction: column;
    @media screen and (max-width: 1350px){width : 100%;}
   
   

    img {
      display: flex;
      cursor: pointer;
      object-fit: cover;
      height: 180px;
      width: 100%;
      border-radius: 5px 5px 0 0;
    }


    .cardtext {
      display: grid;
      grid-template-columns: 5% 25% 20% 20% 25% 5%;
      grid-template-rows: 20% 70% 10%;
      width: 100%;
      height: 184px;
      padding: 20px 0 0 0;
      background-color: #e7e7e7;
      border-radius: 0 0 5px 5px;
    }

    .cardtext-recipe-name {
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row: 1;
      margin: 0;
      font-family: 'Lato';
      font-style: normal;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
    }


    .cardtext-cooking-time {
      grid-column: 5;
      grid-row: 1;
      text-align: right;

      .cardtext-cooking-time-icon {
        position: relative;
        top: 10%;
        bottom: 10px;
        left: 10px;
        border-radius: 0;
        height: 20px;
        width: 20px;
      }

      .cardtext-cooking-time-number {
        position: relative;
        top: -55%;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
      }
    }

    .cardtext-ingredients {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row: 2;
      padding-left: 0;
      font-family: 'Lato';
      font-size: 12px;
      font-weight: 700;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: left;

    }

    .cardtext-ingredients-list {
      padding-left: 0px;
      overflow: hidden;
    }

    .cardtext-description {

      grid-column-start: 4;
      grid-column-end: 6;
      grid-row: 2;
      padding-top: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      white-space: normal;
      font-family: 'Roboto';
      font-style: normal;
      font-size: 12px;
      font-weight: 400;
      line-height: 12px;
      letter-spacing: 0em;
      text-align: left;
      height: 84px;
      @media screen and (max-width: 950px){;}
    }
  }
}


